<form action="/rateCommodity" method="POST">
    <label>Your ID:</label>"
    <input type="text" name="user_id" value="" />
    <br><br>
    <label>Rate(between 1 and 10):</label>
    <input type="number" id="quantity" name="quantity" min="1" max="10">
    <button type="submit">Rate</button>
</form>
<br>
<form action="/addToBuyList" method="POST">
    <label>Your ID:</label>
    <input type="text" name="user_id" value="" />
    <br><br>
    <button type="submit">Add to BuyList</button>
</form>
<br/>
<table>
    <tr>
        <th>username</th>
        <th>comment</th>
        <th>date</th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <td>user1</td>
        <td>Good</td>
        <td>2022-07-25</td>
        <td>
            <form action="/likeComment" method="POST">
                <label for="">2</label>
                <input
                        id="form_comment_id"
                        type="hidden"
                        name="comment_id"
                        value="01"
                />
                <button type="submit">like</button>
            </form>
        </td>
        <td>
            <form action="/dislikeComment" method="POST">
                <label for="">1</label>
                <input
                        id="form_comment_id"
                        type="hidden"
                        name="comment_id"
                        value="01"
                />
                <button type="submit">dislike</button>
            </form>
        </td>
    </tr>
</table>

</body>
</html>